<%-include('./partials/header.ejs')%>
<div class="container">
<div class="aboutalignment">
<div class="Aboutdetails">
    
 <h1> About US </h1>
 <h2>We're passionate about bringing you the latest and greatest tech devices from around the world.<br>
    Our goal is to provide you with a seamless shopping experience, excellent customer service, and high-quality devices that you can rely on.</h2>
</div>
</div>
</div>


<%-include('./partials/footer.ejs')%>