<%-include('./partials/header.ejs')%>
<div class="container">
<div class="aboutalignment">
<div class="Aboutdetails">
    
 <h1> Contact US </h1>
 <h2> Please reach out to abc@techguru.com </h2>
</div>
</div>
</div>


<%-include('./partials/footer.ejs')%>