<%-include('./partials/header.ejs')%>
    <div class = "container">
        <h3 class="textpos"><%= error.status%> Error</h3> 
        <p class="textpos"><%= error.message%> </p>
    </div>
    <%-include('./partials/footer.ejs')%>
