<%-include('./partials/header.ejs')%>
<div class="dabba">
	<div class="text">
	 <h1> Welcome to the MR. TECH GURU gadgets shop. </h1>
	 <h2>This website is exclusive a place for tech geeks who want to buy tech devices.<br>
	 Here you can find the best, new and powerful tech gadgets/devices.</h2>
	 </div>
	 <div>

<%-include('./partials/footer.ejs')%>
